.case-id {
    font-size: 200%;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}

.action-needed-form {
    margin: 0px 40px;
}
.form-section-header {
    font-size: 120%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.desc-box {
    width: 100%;
    border-radius: 25px;
    font-size: 120%;
    padding-top: 10px;
    padding-left: 20px;
}