.grid-table-mgmt {
  width: 90%;
  border-collapse: collapse;
  margin-left: 45px;
}

.grid-table-mgmt th,
.grid-table-mgmt td {
  border: 1px solid black;
  text-align: center;
}

.grid-table-mgmt thead {
  color: #362740;
  line-height: 30px;
  text-transform: uppercase;
}

.tobeAssignedContainer {
  display: flex;
}

.tobeAssignedtable {
  width: 50%;
}