.grid-table-mgmt {
  width: 90%;
  border-collapse: collapse;
  margin-left: 45px;
}

.grid-table-mgmt th,
.grid-table-mgmt td {
  border: 1px solid black;
  text-align: center;
}

.grid-table-mgmt thead {
  color: #362740;
  text-transform: uppercase;
}
<<<<<<< HEAD

.tobeAssignedContainer {
  display: flex;
}

.tobeAssignedtable {
  width: 50%;
}
=======
.tobeAssignedContainer {
  display: flex;
}
.tobeAssignedtable {
  width: 50%;
}
>>>>>>> 6d7adcb8278bd1d9ac7d5a4714ec9b4c872a3cb1
