body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
>>>>>>> 6d7adcb8278bd1d9ac7d5a4714ec9b4c872a3cb1
