.progress-bar-container {
  height: 204px;
  width: 76rem;
  margin-top: 6%;
  margin-left: 7%;
  border: 3px solid Rgb(54, 39, 64);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 80%;
  width: 100%;
  margin: 0 2rem;
}

.progress-container::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  z-index: -1;
}

.circle {
  position: relative;
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 70%;
}

.circle-text {
  position: absolute;
  top: -80px;
  height: 175px;
  width: 200px;
  text-align: center;
  left: -80px;
  height: 60px;
  color: black;
}

.active-progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid green;
}

.move-button {
  position: absolute;
  top: 47%;
  margin-left: 650px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #69BF64;
  border: 2px solid #69BF64;
  border-radius: 1%;
  padding: 1rem 2rem;
  cursor: pointer;
}

.move-button:hover {
  cursor: pointer;
}