.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-left: auto; /* Align the container to the right */
  max-width: 946px; /* Optional: Set a maximum width for the container */
}
