.left-buttons button,
.right-buttons button {
  margin: 0 5px;
  display: inline-block;
}
.navbar-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  background-color: black;
}
