.left-buttons button,
.right-buttons button {
  margin: 0 5px;
  display: inline-block;
  color: #f2f2f2;
}
.navbar-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  height: 50px;
  background-color: Rgb(54, 39, 64);
}
