.home-navbar {
  background: Rgb(54, 39, 64);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.NavBtn {
  display: flex;
  align-items: center;
  /* margin-right: 7px; */
}

.Navbtnlink {
  border-radius: 50px;
  background: Rgb(105, 191, 100);
  white-space: nowrap;
  padding: 10px 22px;
  margin-right: 9px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-family: Arial;
  /* font-weight: bold; */
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.Navbtnlink>a {
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  margin-right: 3px;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  justify-content: flex-end;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: #eaeaea;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100%;
  }

  .NavBtn {
    margin-bottom: 10px;
  }
}

.bal-asha-logo {
  margin-right: 77%;
  margin-top: 9px;
  height: 60px;
  width: 110px;
}