.progress-bar-container {
    height: 12rem;
    width: 35rem;
    margin-top: 2%;
    margin-left: 40%;
    border-radius: 1%;
    border: 0.01cm solid black;
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 2rem;
  }
  
  .progress-container::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
  }
  
  .circle {
    position: relative;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 70%;
  }
  
  .circle-text {
    position: absolute;
    left:-20px;
    height:50%;
  
  }
  
  .active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid red;
  }
  
  .move-button{
      position: absolute;
      bottom:5%;
      background-color: transparent;
      border:2px solid black;
      padding:1rem 2rem;
      border-radius: 60%;
  }

  .move-button:hover {
    cursor: pointer;
  }