.calendarContainer {
  position: absolute;
  top: 100px;
  right: 18px;

  /* margin-top: 1000px; */
}
/* .fc-daygrid-day-frame {
  background-color: black;
} */
.fc-scrollgrid-sync-inner {
  border: 1px solid black;
}
